<h3>Cart Items</h3>

<p>
   <a routerLink="/shipping">Shipping Prices</a>
 </p>

<div *ngFor="let item of items">
   <span>{{item.name}}</span>
   <span>{{item.price | currency: 'USD'}}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
   <div>
      <label>Name</label><br>
      <input type="text" formControlName="name">
   </div>
   <div>
      <label>Address</label><br>
      <input type="text" formControlName="address">
   </div><br>
   <button type="submit">Purchase</button>
</form>